@keyframes startscreen-text {
  0% {
    transform: translateX(3.8%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes startscreen-text-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(3.8%);
  }
}
