@import 'styles/variables';

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  width: 100%;
  height: $header-height;
  padding: $content-padding;
  font-family: var(--font-inter);
  background: rgba(255, 255, 255, 0.7);
  transition: top 0.2s ease-in-out;
}

.scroll_down {
  top: -$header-height;
}

.scroll_up {
  top: 0;
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;
  padding: 0;
  margin: 0;
  list-style: none;

  .sub_nav {
    padding: 10px;
    display: none;
    position: absolute;
    top: 17px;
    background: $orange;
  }

  .has__sub_nav {
    position: relative;
  }

  .has__sub_nav:hover {
    .sub_nav {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .link_wrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
  }

  .sub_link {
    align-self: flex-start;
    font-size: 0.775rem;
    font-weight: 500;
    transition: 0.2s ease-in-out;

    &:hover {
      text-shadow: $text-shadow;
    }
  }

  .link {
    height: fit-content;
    font-size: 0.875rem;
    font-weight: 500;
    align-self: center;
    transition: 0.2s ease-in-out;

    &:hover {
      text-shadow: $text-shadow;
    }
  }
}

.logo__wrapper {
  flex: 1;
}

.logo {
  display: block;
  margin: 0 auto;
}

.contacts {
  display: flex;
  gap: 3vw;
  align-items: center;
  justify-content: flex-end;
}

.contacts__social_networks {
  display: flex;
  gap: 1vw;

  * {
    text-shadow: $text-shadow;
  }
}

.contacts__phone {
  min-width: fit-content;
  padding: 13px 17px;
  background: rgba(245, 245, 245, 0.6);
  border-radius: 100px;
  font-weight: 400;
  transition: all 0.4s ease-in-out;

  &:hover {
    text-shadow: $text-shadow;
  }
}

.active {
  border-bottom: 2px solid black;
}
