@import 'styles/variables';

.startscreen {
  align-items: center;
  display: flex;
  padding-top: 200px;
  padding-bottom: 180px;
  background-color: $light-grey;

  .content {
    &_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &_heading {
      font-weight: 600;
      font-size: 128px;
      line-height: 156px;
    }

    &_paragraph {
      width: 516px;
      font-family: var(--font-inter);
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
    }

    &_img {
      width: 500px;
      object-fit: cover;
    }
  }

  .text_wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

.projects {
  padding-bottom: 100px;
  background-color: $light-grey;

  &_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }

  &__column {

    &_left {

    }

    &_right {

    }
  }
}

.project {
  margin-bottom: 40px;

  &_info {

  }

  &_img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  &_title {
    margin-bottom: 30px;
    font-family: var(--font-inter);
    font-size: 20px;
    font-weight: 300;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
  }

  &_description {
    font-family: var(--font-inter);
    font-weight: 300;
    line-height: 23px;
  }
}
