.footer {
  height: $footer-height;
  padding: 6vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  z-index: 1;
  background: $dark-grey;
  color: $white;

  &__social_networks {
    align-items: center;
    align-self: center;
    display: flex;
    gap: 1vw;
    transition: all $transition-animation;

    & > * {
      transition: all $transition-animation;

      &:hover {
        color: $grey;
      }
    }
  }

  &__logo_field__wrapper {
    text-align: center;
  }

  &__logo_field {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1vh;
  }

  &__contacts_field {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  &__contacts {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1vh;

    & > * {
      transition: all $transition-animation;

      &:hover {
        color: $grey;
      }
    }
  }
}
