@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: $block-height;
  overflow-x: hidden;
  font-size: 14px;
}

h1,
h2 {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: inherit;
  font-weight: inherit;
}

main {
  flex: 1;
}

.app__wrapper {
  display: flex;
  flex-direction: column;
  min-height: $block-height;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: $content-padding;
}
