.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: $header-height;
  padding: $content-padding;
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  background: rgba(255, 255, 255, 0.7);
}

.nav {
  display: flex;
  gap: 2vw;

  .link {
    height: fit-content;
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
    transition: margin 0.2s ease-in-out;

    &:hover {
      margin-bottom: 10px;
    }
  }
}

.logo__wrapper {
  flex: 1;
}

.logo {
  display: block;
  margin: 0 auto;
}

.contacts {
  display: flex;
  gap: 3vw;
  align-items: center;
  justify-content: flex-end;
}

.contacts__social_networks {
  display: flex;
  gap: 1vw;

  * {
    text-shadow: rgb(173, 141, 110) 1px 0 10px;
  }
}

.contacts__phone {
  min-width: fit-content;
  padding: 21px;
  background: rgba(245, 245, 245, 0.6);
  border-radius: 20px;
  font-size: 1.7rem;
  transition: all 0.4s ease-in-out;

  &:hover {
    text-shadow: rgb(173, 141, 110) 1px 0 10px;
  }
}

.active {
  border-bottom: 2px solid black;
}
