$header-height: 85px;
$footer-height: 30vh;
$block-height: 100vh;

$content-padding: 0 55px;

$white: #ffffff;
$dark-grey: rgba(29, 29, 29, 1);
$grey: rgba(102, 98, 98, 1);
$light-grey: rgba(239, 239, 239, 1);
$text-grey: rgba(102, 98, 98, 1);

$border: solid black 2px;

$transition-animation: 0.4s ease-in-out;
